@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Poppins", sans-serif;
}

:root {
  font-family: var(--font-sans);
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #00000F;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h2 {
  font-weight: 500;
}

p {
  font-family: Poppins;
  font-weight: 400;
}


@layer base {
  /* Hacemos que la etiqueta 'em' o 'i' siempre use la Serif */
  i {
    font-family: var(--font-serif);
    font-style: italic;
  }
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
